*{
    color: #999;
}

.form-ctn {
    width: auto;
    border: .2em solid #999;
    background-color: #999;
    border-radius: 1em;
    padding: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input:focus, textarea:focus{
    outline: none;
    border-color: 2px solid #FCD12A;
}
  
input{
    font-size: 1em;
    padding: 0.5em;
    /* margin-top: 0.3em; */
}

#submit-button{
    font-size: 1em;
    font-weight: 700;
  min-height: 3em;
  width: 100%;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

textarea{
    padding: 0.5em;
    font-size: 1em;
    /* margin-top: 0.3em; */
    width: 17em;
    min-height: 5em;
    border-radius: 0.3em;
    border: none;
    resize: none;
}

form input{
    /* display: block; */
    border: none;
    border-radius: 0.3em;
    min-height: 2em;
    min-width: 17em;
}