.icon-ctn img{
    width: 1.2em;
    margin: .5em;
}

.pg-ctn {
    border: .2em solid #999;
    background-color: #fff;
    border-radius: 1em;
    padding: 1.5em;
}

.pg-ctn p{
    font-weight: 700;
    text-align: justify;
}


.works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2em;
}

@media (max-width: 480px){
  header{
    width: 100%;
    flex-direction: column;
    align-items: center;  
    
  }

}