.works-ctn{
    padding: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.work {
    width: 15em;
    height: 15em;
    /* margin: 0 2em; */
    /* border: .2em solid #999; */
    background-color: #fff;
    border-radius: 1em;
    padding: 0 2em;
}

.work.first{
    background: url("./assets/legit-site.png");
    object-fit: cover;
}