{% extends '_base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block csslink %}<link rel="stylesheet" href="{% static 'css/pg-styling.css' %}">{% endblock csslink %}

{% block content %}

<div class="container pg-ctn">
    <p>
        I am a Computer Science student specializing in Python Programming and Web Development.
        With skills in HTML, CSS, and JavaScript, I can create visually appealing and interactive websites.
        I also have experience using no-code tool like WordPress.
    </p>
    <p>
        My passion for technology and problem-solving drives me to continuously learn and stay updated with the latest trends.
        I am eager to collaborate on exciting projects and contribute my expertise to create exceptional digital experiences. <br >
        Explore my portfolio to see my work in Python programming and web development. Let's connect and create impactful solutions together.
    </p>
</div>
{% endblock content %}