{% extends '_base.html' %}
{% load static %}

{% block title %}Contact Me{% endblock title %}

{% block csslink %}<link rel="stylesheet" href="{% static 'css/pg-styling.css' %}">{% endblock csslink %}

{% block content %}
<div class="container pg-ctn">

    <form name="contact-form" action="{% url 'contact' %}" method="POST" data-netlify="true" class="form-group" autocomplete="off">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.errors }}
                <p>{{ field }}</p>
            </div>
        {% endfor %}

        <button type="submit" id="submit-button" class="btn form-control btn-primary bg-dark border-0 ">Send</button>
    </form>
</div>
{% endblock content %}